{include file="common/header" /}
<div id="wrapper">
    {include file="common/nav" /}
    <div class="left-aside">
        {include file="common/leftnav" /}
    </div>
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="page-aside">
                    <div class="right-aside casket">
                        <div class="row bg-title">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h4 class="page-title">案例管理
                                    <a href="Javascript:;" class="tooltip-success" data-toggle="tooltip" data-placement="right" title="" data-original-title="添加到快捷菜单"
                                       onclick="addmenu('{$navurls}','案例管理')"
                                    ><i class="fa fa-tag"></i></a>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="scrollable">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="Javascript:;">
                                        <span class="visible-xs">案例列表</span>
                                        <span class="hidden-xs">案例列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('Designer/addcase')}"  >
                                        <span class="visible-xs">添加案例</span>
                                        <span class="hidden-xs">添加案例</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="table-responsive">
                                <br>
                                <div class="right-page-header">
                                    <div  class="form-horizontal" style="float:left;">
                                        <input type="text" style="width:180px;display: inline" class="form-control" id="starttime" name="starttime" placeholder="时间筛选：选择开始时间" value="{$starttime}">
                                        <input type="text" style="width:180px;display: inline" class="form-control" id="endtime" name="endtime" placeholder="时间筛选：选择结束时间" value="{$endtime}">&nbsp;
                                        <input type="text" style="width:240px;display: inline" class="form-control" id="keyword" name="keyword" placeholder="请输入搜索关键词" value="{$keyword}">&nbsp;
                                        <button type="button" class="btn btn-outline btn-default soso-but" onclick="soso()">搜 索</button>
                                    </div>
                                </div>
                                <table class="table table-hover manage-u-table" >
                                    <thead>
                                    <tr>
                                        <th style="width:50px;">排序</th>
                                        <th style="width:400px;">案例名称</th>
                                        <th style="width:110px;">所属设计师</th>
                                        <th style="width:110px;">风格类型</th>
                                        <th style="width:110px;">户型类型</th>
                                        <th style="width:110px;">面积</th>
                                        <th style="width:50px;">显示</th>
                                        <th style="width:50px;">热门</th>
                                        <th style="width:50px;">最新</th>
                                        <th style="width:150px;">添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if condition="empty($case)"}
                                        <tr>
                                            <td colspan="11" class="center middle" style="color:#ccc;">查询无数据</td>
                                        </tr>
                                    {/if}
                                    <form action="{:url('designer/caselist')}" method="post">
                                    {volist name="case" id="v"}
                                    <tr>
                                        <td class="middle">
                                            <input style="width:50px;" type="text" name="{$v.case_id}" value="{$v.sort}">
                                        </td>
                                        <td class="middle">{$v.case_name}</td>
                                        <td class="middle">{$v.designer_name}</td>
                                        <td class="middle">
                                            {volist name="cat" id="c"}
                                                {if condition="$v.style_id eq $c.cat_id"}{$c.cat_name}{/if}
                                            {/volist}
                                        </td>
                                        <td class="middle">
                                            {volist name="cat" id="c"}
                                            {if condition="$v.apart_id eq $c.cat_id"}{$c.cat_name}{/if}
                                            {/volist}
                                        </td>
                                        <td class="middle">
                                            {$v.area}㎡

                                        </td>
                                        <td class="middle">
                                            <div onclick="state('{$v.case_id}','is_show','show{$v.case_id}')">
                                                <input id="show{$v.case_id}" type="checkbox" {if condition='$v.is_show eq 1'}checked{/if} class="js-switch" data-color="#26b550" data-size="small" />
                                            </div>
                                        </td>
                                        <td class="middle">
                                            <div onclick="state('{$v.case_id}','is_hot','hot{$v.case_id}')">
                                                <input id="hot{$v.case_id}" type="checkbox" {if condition='$v.is_hot eq 1'}checked{/if} class="js-switch" data-color="#26b550" data-size="small" />
                                            </div>
                                        </td>
                                        <td class="middle">
                                            <div onclick="state('{$v.case_id}','is_new','new{$v.case_id}')">
                                                <input id="new{$v.case_id}" type="checkbox" {if condition='$v.is_new eq 1'}checked{/if} class="js-switch" data-color="#26b550" data-size="small" />
                                            </div>
                                        </td>
                                        <td class="middle">{$v.add_time|date="Y-m-d H:i:s",###}</td>
                                        <td class="middle">
                                           <div>
                                               <a href="{:url('Designer/modifycase',array('id'=>$v.case_id))}" class="btn btn-outline btn-xs cus-btn" >
                                                   <i class="fa fa-pencil-square-o"></i> 修改
                                               </a>
                                               <a class="btn btn-outline btn-xs cus-btn" onclick="deldesigner('{$v.case_id}')">
                                                   <i class="fa fa-trash-o"></i> 删除
                                               </a>
                                           </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    <tr>
                                        <td colspan="11" class="middle">
                                            <input class="btn btn-outline cus-btn" type="submit" value="排序">
                                        </td>
                                    </tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div>
                            <div class="page">
                                {$case->render()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer" /}
<script>
    function state(id,type,isid){
        $.ajax({
            url: "{:url('Designer/casestates')}",
            data: {id:id,type:type},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){
                    if(data.state==1){
                        $("#"+isid).prop('checked', true);
                    }else{
                        $("#"+isid).prop('checked', false);
                    }
//                    layer.msg(data.msg, {time: 500, icon:1,shade: 0.2});

                }else{

                    layer.msg(data.msg, {time: 500, icon:2,shade: 0.2});
                }
            }
        });
    }
    function deldesigner(id){
        layer.msg('確定刪除?', {
            icon: 3,
            time: 0 //不自动关闭
            ,shade: 0.2
            ,btn: ['確定', '取消']
            ,yes: function(index){
                var index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: "{:url('Designer/delcase')}",
                    data: {id:id},
                    type: 'POST',
                    dataType: "json",
                    cache: false,
                    success: function(data,state){
                        if(state == 'success' && data.code == '0'){
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                            setTimeout(function () {
                                window.location.reload()
                            }, 1000);
                        }else{
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
                        }
                    }
                });
            }
        });
    }
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
    });
    lay('#version').html('-v'+ laydate.v);
    //执行一个laydate实例
    laydate.render({
        elem: '#starttime' //指定元素
        ,type:'datetime'
    });
    laydate.render({
        elem: '#endtime' //指定元素
        ,type:'datetime'
    });
    //搜索
    function soso(){

        var starttime = $("#starttime").val();
        var endtime =  $("#endtime").val();
        var keyword =  $("#keyword").val();
        if(starttime){
            if(endtime==''){
                return layer.msg("请选择结束时间", {time: 900, icon:2,shade: 0.2});
            }
            starttime = new Date(Date.parse(starttime.replace(/-/g, "/")));
            starttime = Math.round(starttime.getTime()/1000).toString();
            endtime = new Date(Date.parse(endtime.replace(/-/g, "/")));
            endtime = Math.round(endtime.getTime()/1000).toString();
            if(starttime>endtime){
                return layer.msg("开始时间不能大于结束时间", {time: 900, icon:2,shade: 0.2});
            }
        }

        if(starttime!=''){
            start = "/starttime/"+starttime;
        }else{
            start = "";
        }
        if(endtime!=''){
            end = "/endtime/"+endtime;
        }else{
            end = "";
        }
        if(keyword!=''){
            key = "/keyword/"+keyword;
        }else{
            key = "";
        }
        window.location.href="{:url('Designer/caselist')}"+start+end+key;
    }
</script>
