{include file="public/header" /}
    <link rel="stylesheet" href="/public/index/bootstarp/css/bootstrap.css"> 
    <link rel="stylesheet" href="/public/index/style/base.css">
    <link rel="stylesheet" type="text/css" href="/public/index/style/special.css">
    <link rel="stylesheet" href="/public/index/style/index.css">
    <style>
      .container-fluid{padding-left:0;padding-right:0;}
    </style>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/index/bootstarp/js/bootstrap.min.js"></script>
    <div class="container-fluid ">
        <!-- 广告 -->
        <div class="banner">
            <img src="/public/index/zhuanti/banner.jpg" class="bannerimg img-responsive" alt="Responsive image">
        </div>
        <!-- 预订 -->
        <div class="content">
            <div class="layout order_text">
                <span>随着品质消费的外延不断扩大，用户的消费需求也逐渐从“温饱型”向“品质型”转变，</span><br/>
                <span>高品质的家装生活才是新需求。</span><br/>
                <span>这个5月，久居整装继续推进“品质服务、品质家装”活动，</span><br/>
                <span>携手五大国际品牌、八大上市品牌及行业众多顶尖品牌重金打造，</span><br/>
                <span class="cfd800c">悬赏10万，</span><br/>
                <span>寻找品质家装作品代言人！</span>
                <p class="order">活动名额仅剩<span class="green"> 50 </span>个，快来预定吧！</p>
    
                <div class="order_now" id="reserve">
                    <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (4).png" alt="">
                </div>
            </div>
            
        </div>
        <!-- 报名 -->
        <div class="enlist">
            <!-- 作品 -->
            <div class="works w1200">
                <!-- 背景 -->
                <div class="works_big">
                    <div class="works_animation">
                        <div class="sub"></div>
                    </div>
                    <div class="works_box">
                    	<div class="work_bg_position">
                        	<p>作品征集</p>
                        </div>
                    </div>
                </div>
                <!-- 箭头 -->
                <div class="arrow">
                    <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (2).png" alt="">
                </div>
                 <!-- 背景 -->
                 <div class="works_big">
                        <div class="works_animation">
                            <div class="sub"></div>
                        </div>
                    <div class="works_box"> 
                        <div class="work_bg_position">
                        	<p style="left: 26px;">投票</p>
                        </div>
                    </div>
                </div>
                <!-- 箭头 -->
                <div class="arrow">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (2).png" alt="">
                </div>
                <!-- 背景 -->
                <div class="works_big">
                    <div class="works_animation">
                        <div class="sub"></div>
                    </div>
                    <div class="works_box">
                    	<div class="work_bg_position">
                        	<p>票选前10名</p>
                       </div>
                    </div>
                </div>
                <!-- 箭头 -->
                <div class="arrow">
                    <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (2).png" alt="">
                </div>
                 <!-- 背景 -->
                 <div class="works_big">
                    <div class="works_animation">
                        <div class="sub"></div>
                    </div>
                    <div class="works_box"> 
                        <div class="work_bg_position">
                        	<p>专业评选</p>
                       </div>
                    </div>
                </div>
                <!-- 箭头 -->
                <div class="arrow">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (2).png" alt="">
                </div>
                <!-- 背景 -->
                <div class="works_big">
                    <div class="works_animation">
                        <div class="sub"></div>
                    </div>
                    <div class="works_box">
                        <div class="work_bg_position">
                        	<p>冠军作品</p>
                       </div>
                    </div>
                </div>
            </div>
           
        </div>

         <!-- 立即报名 -->
        <div class="ljbm">
            <div class="sign_up w1200">
                <form id="form1" action="/users/login" method="post">
                    <input type="text" name="" id="username" placeholder="请输入您的名字" >
                    <input type="text" name="" id="tel" placeholder="请输入您的电话号码">
                    <div class="btn" id="btn">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (6).png" alt="">
                    </div>
                </form>
            </div> 
        </div>
        <!-- 好礼相送 -->
        <div class="gift"></div>
        <!-- 品质家装 -->
        <div class="quality">
            <!-- tab菜单 -->
            <div class="menu w1200">
                <!-- 导航 -->
                <div class="q_nav">
                    <ul id="q_subnav">
                        <li class="circle">全屋环保</li>
                        <li>质量过硬</li>
                        <li>设计人性化</li>
                    </ul>
                </div>
                <!-- 子菜单 -->
                <div class="submenu">
                    <div class="menu_one show">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (9).png" alt="">
                    </div>

                    <div class="menu_one">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (8).png" alt="">
                    </div>

                    <div class="menu_one">
                        <img class="img-responsive" src="/public/index/zhuanti/pc-zhuantiye  (7).png" alt="">
                    </div>
                </div>

            </div>          
        </div>
   
         <!-- 主办方 -->
        <div class="sponsor w1200">
            <p>主办方:各品牌商家联合主办</p>
            <p>协办方:新闻媒体、银行</p>
            <p>活动地点:深圳市龙岗区龙城大道29号花样年龙年广场13A02-07</p>
            <p>深圳市光明新区公明北环大道凯雷斯顿商务大夏3楼</p>
        </div>
   
    </div>
    
    <!-- 弹窗 -->
    <div class="pop_up">
        <div class="inner_box">
            <!-- 关闭按钮 -->
            <div id="close">
                <img src="/public/index/zhuanti/icon (3).png" alt="">
            </div>
            <!-- 弹窗内容 -->
            <div class="pop_con">
               <div class="online">
                    <form>
                            <input type="text" name=""  id="username1" placeholder="请输入您的名字" >
                            <input type="text" name="" id="tel1" placeholder="请输入您的电话号码">
                            <p class="online_btn" id="btn1">
                                <img src="/public/index/zhuanti/icon (1).png" alt="">
                            </p> 
                        </form>
               </div>

            </div>
        </div>
    </div>
    <!-- js脚本 -->
    <script type="text/javascript">
        //弹窗
        $(function(){
            $("#reserve").on("click",function () { 
                $(".pop_up").css("display","block");
             });
             $("#close").on("click",function() {
                $(".pop_up").hide();
             });           
        })
       
        //立即报名表单验证
        $(function(){
            $("#btn").on("click",function () {
                var username = $("#username").val();
                var tel = $("#tel").val();
                var true_mobile = /^1[34578]{1}\d{9}$/;
                // console.log("我的数据",username,tel);
                if(username == ''){
                    alert("请输入您的姓名");
                    return false
                   }
                if (tel == "" || !true_mobile.test(tel)){
                    alert("请输入有效的电话号码")
                    //  $(".phone").text(" ");        
                     return false
                }
                alert("成功")
                return true;
                    //  提交表单
                $.ajax({
                    url: "/users/login",
                    data: {username:username,tel:tel},
                    type: 'POST',
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                    }
                }); 
             });

         	$("#btn1").on("click",function () {
                var username = $("#username1").val();
                console.log(username);
                var tel = $("#tel1").val();
                console.log(tel);
                var true_mobile = /^1[34578]{1}\d{9}$/;
                // console.log("我的数据",username,tel);
                if(username == ''){
                    alert("请输入您的姓名");
                    return false
                   }
                if (tel == "" || !true_mobile.test(tel)){
                    alert("请输入有效的电话号码");     
                     return false
                }
                alert("成功");
                // $("#username1").text(" ");
                // $("#tel1").text(" ");
                return true;
             })
        });
        // tab切换
        $(function (){ 
            var arr = $("#q_subnav").children("li");
            // console.log(arr)
            $("#q_subnav").children("li").on("click",function(){
                $(this).addClass("circle");
                $(this).siblings().removeClass("circle");
                $(".submenu>.menu_one").eq($(this).index()).addClass("show").siblings().removeClass("show");
            })
         });
    </script>
{include file="public/footer" /}