{include file="public/header" /}
	<div class="banner">
		<div><a href="#"><img src="__PUBLIC__/static/images/banner2.jpg" alt=""></a></div>
	</div>

	<div class="jump">
		<div class="layout">
			<ul class="fix">
				<li class="on"><a href="{:U('Home/aboutme/index','','')}">公司简介</a></li>
				<li><a href="{:U('Home/aboutme/callme','','')}">联系我们</a></li>
				<li><a href="{:U('Home/aboutme/joinme','','')}">加入我们</a></li>
			</ul>
		</div>
	</div>

	<div class="main main-lx">
		<div class="layout">
			<div class="lx">
				<img src="__PUBLIC__/static/images/lx1.jpg" alt="">

				<div class="lx1">
					<div class="title">
						<img src="__PUBLIC__/static/images/lx-ti1.jpg" alt="">
					</div>
					<h3>我们专注做一件事情：做最贴心的完整品质整装</h3>
					<p><br/></p>
					<p>深圳市久居整装设计工程有限公司是一家致力于成为O2O一体化运营的泛家居综合服务商。公司依托今之艺装饰20年高端设计和施工优势，通过互联网+思维，打破家装行业不规范、不透明现状，为客户提供整体化、模块化、标准化、专业化、智能化的健康家居解决方案，真正实现便捷高性价比的信任品质家居梦。</p>

					<p><br/></p>

					<p>公司创立初期获得千万天使投资及惠州百万级分公司投资，公司核心决策层由行业一线品牌高管及IT、互联网精英组成，拥有一支极具战斗力及创新思维的团队。公司坚持“以合作伙伴为中心，客户满意为宗旨”的理念，秉承“健康、快乐、责任、勤奋、创新、共赢”的企业价值观，将引领传统装修及家居领域全新变革，成为泛家居行业信任品牌。</p>

					<p><br/></p>

					<p>公司以全方位的复合角度，全面引进当今先进技术工艺和负离子环保材料，打造中国首家负离子生态绿色环保品牌。从基础装修到家居、配饰选购等方面为客户提供品质保证。</p>
					<p><br/></p>
					<p>公司通过线上360°实景样板房体验，线下VR虚拟现实技术、1500㎡实景展厅等等，为客户提供设计、选材、施工、监管、售后等全方位省时、省钱、又省心的完整整装服务。</p>
					<p><br/></p>
					<p><b>愿景</b>：引领行业健康发展,让三亿家庭尊享品质装修</p>
					<p><b>使命</b>：做泛家居信任品牌践行者</p>
				</div>

				<div class="lx2">
					<div class="title">
						<img src="__PUBLIC__/static/images/lx-ti2.jpg" alt="">
					</div>
					<ul class="fix">
						<li class="fl">
							<div class="img"><img src="__PUBLIC__/static/images/lx2.jpg" alt=""></div>
							<div class="lxcon">
								<h4>专业优势</h4>
								<p>专注20 年的高端家装设计施工经验</p>
							</div>
						</li>

						<li class="fr">
							<div class="img"><img src="__PUBLIC__/static/images/lx3.jpg" alt=""></div>
							<div class="lxcon">
								<h4>团队优势</h4>
								<p>家装行业一线品牌高管及IT、互联网精英组成</p>
							</div>
						</li>
					</ul>
				</div>

				<div class="lx3">
					<div class="title">
						<img src="__PUBLIC__/static/images/lx-ti3.jpg" alt="">
					</div>

					<ul class="">
						<li class="fix">
							<div class="lx3l">
								<img src="__PUBLIC__/static/images/lxt1.png" alt="">
							</div>
							<div class="lx3r">
								<p>工艺不达标，砸掉重装，直到达标为止。</p>
								<p>环保不达标，全额退款，签订环保协议</p>
							</div>
						</li>

						<li class="fix">
							<div class="lx3l">
								<img src="__PUBLIC__/static/images/lxt2.png" alt="">
							</div>
							<div class="lx3r">
								<p>全城最高性价比，材料从厂家直达工地假一罚十。</p>
								<p>XYB系统三分钟快速报价，预算等于结算</p>
							</div>
						</li>

						<li class="fix">
							<div class="lx3l">
								<img src="__PUBLIC__/static/images/lxt3.png" alt="">
							</div>
							<div class="lx3r">
								<p><b>1+N</b>（硬装设计师+软装设计师+定制设计师+智能加点设计师）设计团队提供极致设计服务。</p>
								<p><b>三点一中心</b>（第三方优装家装管家。监理。质检+工程交付中心）工程交付管理体系提供极致的交付品质。</p>
								<p><b>责任一包到底</b>，10分钟快速响应，24小时出解决方案，让您体验6S家居服务。</p>
								<p><b>隐蔽工程十年保修</b>，基础工程终身维护，享受超长售后服务。</p>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>

<script>
    //页面单独使用的js
</script>

{include file="public/footer" /}