<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>创通易购集团-首页</title>
	<meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/style_index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css">
	<!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body style="overflow: hidden;">
	<!--导航条-->
	<div class="section-group" id="dowebok">
	  <div class="section">
<!--		  <img src="/static/image/header_bg.png">-->
	  	<!--导航条-->
<!--		<div class="header">-->

<!--			<div class="header_n clearfix">-->

<!--				<div class="logo fl"><a href=""><img src="/static/picture/logo.png" alt="logo" width="200" height="57"></a></div>-->
<!--				<ul class="fl clearfix">-->
<!--					<li><a href="" class="activeo">首 页</a></li>-->
<!--					<li><a href="{:url('Index/index/about')}/">关于我们 </a></li>-->
<!--					<li><a href="{:url('Index/index/service')}/">集团动态</a></li>-->
<!--					<li><a href="{:url('Index/news/index')}/">新闻中心</a></li>-->
<!--&lt;!&ndash;					<li><a href="{:url('Index/index/service')}/">旗下品牌</a></li>&ndash;&gt;-->
<!--					<li><a href="{:url('Index/index/recruitment')}/">人才招聘</a></li>-->
<!--					<li><a href="{:url('Index/index/contantus')}/">联系我们</a></li>-->
<!--				</ul>-->
<!--				<div class="tel fr">-->
<!--&lt;!&ndash;					<img src="/static/picture/tel.png" alt="tel" width="33" height="33">&ndash;&gt;-->
<!--&lt;!&ndash;					XXX&ndash;&gt;-->
<!--				</div>-->
<!--			</div>-->
<!--			<span class="line"></span>-->
<!--		</div>-->
		  {include file="public/header" /}
		<!--导航条-->
		<!-- banner -->
		    <div class="bannerWrap">
		       <div class="index_banner">
		          <div class="hd">
		            <ul><li><span></span></li><li><span></span></li><li><span></span></li></ul>
		          </div>
		          <div class="bd">
		            <ul>
						<li style="background-image:url(/static/image/banner00_bg.png)" class="item bgSize">
							<a href="javascript:;" class="banner01">
							<img src="/static/picture/banner01_wz01.png" alt="创业虽苦，坚持很酷。" title="创业虽苦，坚持很酷。" class="img1">
<!--							<img src="/static/picture/banner01_wz02.png" alt="阳光奥美集团，伴你一路前行。" title="阳光奥美集团，伴你一路前行。" class="img2">-->
							</a>
						</li>
		              <li style="background-image:url(/static/image/banner01_bg.jpg)" class="item bgSize">
						  <a href="javascript:;" class="banner01">
<!--		                 <img src="/static/picture/banner01_wz01.png" alt="创业虽苦，坚持很酷。" title="创业虽苦，坚持很酷。" class="img1">-->
<!--		                 <img src="/static/picture/banner01_wz02.png" alt="阳光奥美集团，伴你一路前行。" title="阳光奥美集团，伴你一路前行。" class="img2">-->
						  </a>
		              </li>
		              <li style="background-image:url(/static/image/banner02_bg.png)" class="item bgSize"><a href="javascript:;" class="banner01">
<!--		                 <img src="/static/picture/banner02_wz01.png" alt="创业虽苦，坚持很酷。" title="创业虽苦，坚持很酷。" class="img1">-->
		                 <img src="/static/picture/banner02_wz02.png" alt="阳光奥美集团，伴你一路前行。" title="阳光奥美集团，伴你一路前行。" class="img1"></a>
		              </li>
<!--		              <li style="background-image:url(/static/image/banner03_bg.jpg)" class="item bgSize"><a href="javascript:;" class="banner01">-->
<!--		                 <img src="/static/picture/banner03_wz01.png" alt="创业虽苦，坚持很酷。" title="创业虽苦，坚持很酷。" class="img1">-->
<!--		                 <img src="/static/picture/banner03_wz02.png" alt="阳光奥美集团，伴你一路前行。" title="阳光奥美集团，伴你一路前行。" class="img2"></a>-->
<!--		              </li>-->
		            </ul>
		          </div>
		       </div>
		       <div class="down">
				   <img src="/static/picture/down.png" alt="向下点击" class="img1">
				   <img src="/static/picture/down.png" alt="向下点击" class="img2">
			   </div>
		    </div>
	  </div>
<!--	  <div class="section">-->
<!--	  	<div class="index_o">-->
<!--	  		<div class="index_o_o">-->
<!--	  			<p>核心业务</p>-->
<!--	  			<span>PRIMARY  BUSINESS</span>-->
<!--	  		</div>-->
<!--	  		<div class="index_o_s">-->
<!--	  			<ul class="clearfix">-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx1.png" alt="公司注册" width="62" height="62"></div>-->
<!--	  					<span>公司注册</span>-->
<!--	  					<p>目注心营，开启事业第一步</p>-->
<!--	  					<a href="gszc.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx2.png" alt="财税服务" width="62" height="42"></div>-->
<!--	  					<span>财税服务</span>-->
<!--	  					<p>精打细算，匠心服务，让你无忧</p>-->
<!--	  					<a href="csfw.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx3.png" alt="公司变更" width="53" height="59"></div>-->
<!--	  					<span>公司变更</span>-->
<!--	  					<p>高效便捷，再创事业巅峰</p>-->
<!--	  					<a href="gsbg.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx4.png" alt="专项审批" width="55" height="56"></div>-->
<!--	  					<span>专项审批</span>-->
<!--	  					<p>资料交接，即刻争分夺秒</p>-->
<!--	  					<a href="zxsp.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx5.png" alt="知识产权" width="62" height="48"></div>-->
<!--	  					<span>知识产权</span>-->
<!--	  					<p>专业为先，捍卫企业合法权益</p>-->
<!--	  					<a href="zscq.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx6.png" alt="执照收转" width="55" height="56"></div>-->
<!--	  					<span>执照收转</span>-->
<!--	  					<p>海量优质资源，轻松收转坐享成功</p>-->
<!--	  					<a href="zzsz.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx7.png" alt="法律服务" width="62" height="62"></div>-->
<!--	  					<span>法律服务</span>-->
<!--	  					<p>加固企业保护伞，为企业发展保驾护航</p>-->
<!--	  					<a href="flfw.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx8.png" alt="资金服务" width="58" height="57"></div>-->
<!--	  					<span>资金服务</span>-->
<!--	  					<p>自持大额资金，极速服务为您排忧解难</p>-->
<!--	  					<a href="zjfw.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  				<li class="fl">-->
<!--	  					<div><img src="/static/picture/index_hx9.png" alt="公司注销" width="56" height="56"></div>-->
<!--	  					<span>公司注销</span>-->
<!--	  					<p>免除后顾之忧，蓄力杨帆再启航</p>-->
<!--	  					<a href="gszx.html">了解更多</a>-->
<!--	  				</li>-->
<!--	  			</ul>-->
<!--	  		</div>-->
<!--	  	</div>-->
<!--	  </div>-->
	  <div class="section">
	  	<div class="index_t">
	  		<div class="index_t_o clearfix">
	  			<ul class="fl">
	  				<li class="li1"><img src="/static/picture/index_ys1.png" alt="资深行业经验" width="42" height="39"></li>
	  				<li class="li2">集团布局</li>
	  				<li class="li3">公司业务布局覆盖全球<br></li>
	  			</ul>
	  			<ul class="fl mar0">
	  				<li class="li1"><img src="/static/picture/index_ys2.png" alt="专业团队" width="46" height="34"></li>
	  				<li class="li2">专业团队</li>
	  				<li class="li3">专注打造行业领军品牌<br></li>
	  			</ul>
	  			<ul class="fl">
	  				<li class="li1"><img src="/static/picture/index_ys3.png" alt="多元服务" width="42" height="42"></li>
	  				<li class="li2">经营理念</li>
	  				<li class="li3">为客户创造价值  <br>为员工实现梦想<br>为社会做出贡献</li>
	  			</ul>
	  			<ul class="fl mar0">
	  				<li class="li1"><img src="/static/picture/index_ys4.png" alt="规模宏大" width="42" height="42"></li>
	  				<li class="li2">公司规模 </li>
	  				<li class="li3">公司规模持续扩大<br>团队人数达500人<br></li>
	  			</ul>
	  		</div>
	  		<div class="index_t_s">
	  			<p>GROUP<br>SUPERIORITY</p>
	  			<span>集团优势</span>
	  		</div>
	  	</div>
	  </div>
	  <div class="section">
	  	<div class="index_s index_sub">
	  		<div class="index_t_s">
	  			<p>SUBSIDIARY<br>CORPORATION</p>
	  			<span>集团活动</span>
	  		</div>
	  		<div class="index_s_s w1600">
					<div id="" class="owl-carousel list">
			            <div class="item"><div class="img"><img id="content" class="e1" src="/static/picture/index_fb1.jpg" alt="黑五网一王者争霸" title="黑五网一王者争霸"> </div><h5>黑五网一王者争霸</h5></div>
			            <div class="item"><div class="img"><img src="/static/picture/index_fb2.jpg" alt="黑五网一王者争霸" title="黑五网一王者争霸"> </div><h5>黑五网一王者争霸</h5></div>
			            <div class="item"><div class="img"><img src="/static/picture/index_fb3.jpg" alt="黑五网一王者争霸" title="黑五网一王者争霸"> </div><h5>黑五网一王者争霸</h5></div>
			            <div class="item"><div class="img"><img src="/static/picture/index_fb1.jpg" alt="黑五网一王者争霸" title="黑五网一王者争霸"> </div><h5>黑五网一王者争霸</h5></div>
			            <div class="item"><div class="img"><img src="/static/picture/index_fb1.jpg" alt="黑五网一王者争霸" title="黑五网一王者争霸"> </div><h5>黑五网一王者争霸</h5></div>
			        </div>
	  		</div>
<!--			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons">-->
<!--				<div class="owl-prev"><img src="/static/image/index_fbz.png"></div>-->
<!--				<div class="owl-next"><img src="/static/image/index_fby.png"></div></div></div>-->
	  	</div>
	  </div>
<!--		<div class="section fp-section fp-table active" style="height: 644px;">-->
<!--			<div class="fp-tableCell" style="height: 644px;">-->
<!--			<div class="index_s index_sub" style="height: 585px;">-->
<!--				<div class="index_t_s">-->
<!--					<p>SUBSIDIARY<br>CORPORATION</p>-->
<!--					<span>集团分布</span>-->
<!--				</div>-->
<!--				<div class="index_s_s w1600">-->
<!--					<div class="owl-carousel list owl-theme" style="opacity: 1; display: block;">-->
<!--						<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 5330px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">-->
<!--							<div class="owl-item" style="width: 533px;">-->
<!--								<div class="item"><div class="img">-->
<!--									<img src="/static/picture/index_fb1.jpg" alt="北京阳光奥美" title="北京阳光奥美"> </div>-->
<!--									<h5>北京阳光奥美</h5></div></div><div class="owl-item" style="width: 533px;">-->
<!--							<div class="item"><div class="img">-->
<!--								<img src="/static/picture/index_fb1.jpg" alt="天津阳光奥美" title="天津阳光奥美"> </div>-->
<!--								<h5>天津阳光奥美</h5></div></div><div class="owl-item" style="width: 533px;">-->
<!--							<div class="item"><div class="img"><img src="/static/picture/index_fb1.jpg" alt="上海阳光奥美" title="上海阳光奥美"> </div>-->
<!--								<h5>上海阳光奥美</h5></div></div><div class="owl-item" style="width: 533px;"><div class="item"><div class="img">-->
<!--							<img src="/static/picture/index_fb1.jpg" alt="北京阳光奥美1" title="北京阳光奥美1"> </div><h5>北京阳光奥美1</h5></div></div>-->
<!--							<div class="owl-item" style="width: 533px;"><div class="item"><div class="img">-->
<!--								<img src="/static/picture/index_fb1.jpg" alt="北京阳光奥美2" title="北京阳光奥美2"> </div><h5>北京阳光奥美2</h5></div>-->
<!--							</div></div></div>-->
<!--						<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons">-->
<!--							<div class="owl-prev"><img src="/static/picture/index_fbz.png"></div>-->
<!--							<div class="owl-next"><img src="/static/picture/index_fby.png"></div></div></div></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div></div>-->

	  <div class="section">
	  	<div class="index_f">
	  		<div class="index_f_lg">
	  			<div class="index_f_lg_s clearfix">
	  				<div class="z fl">
	  					<p>公司动态</p>
	  					<span>NEWS INFORMATION</span>
	  				</div>
	  				<a href="/Index/news/index" class="y fr clearfix">查看全部<img src="/static/picture/index_yj.png" alt="yj" class="fr"></a>
	  			</div>
				{volist name="article1" id="news"}
	  			<div class="index_f_lg_x clearfix">
	  				<div class="le fl">
	  					<p>{$news.add_time|date="d",###}</p>
	  					<span>{$news.add_time|date="Y/m",###}</span>
	  				</div>
	  				<div class="ri fl">
	  					<a href="{:url('Index/News/newsinfo',array('article_id'=>$news.article_id))}">{$news.title}</a>
	  					<p>{$news.explain}</p>
	  				</div>
	  			</div>
				{/volist}
	  			<div class="index_f_lg_x clearfix index_f_lg_xs">
	  				<div class="le fl">
	  					<p>24</p>
	  					<span>2018-03</span>
	  				</div>
	  				<div class="ri fl">
	  					<a href="show.html">2018年春节放假通知</a>
	  					<p>2018年2月11日（星期日）——2018年2月21日（星期三）放假休息，合计11天。正月初七（2月22日，星期四）恢复正常上班。</p>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="index_f_lg index_f_lgs">
	  			<div class="index_f_lg_s clearfix">
	  				<div class="z fl">
	  					<p>行业新闻</p>
	  					<span>INDUSTRY NEWS</span>
	  				</div>
	  				<a href="/index/news/index" class="y fr clearfix">查看全部<img src="/static/picture/index_yj.png" alt="yj" class="fr"></a>
	  			</div>
				{volist name="article2" id="news"}
				<div class="index_f_lg_x clearfix">
					<div class="le fl">
						<p>{$news.add_time|date="d",###}</p>
						<span>{$news.add_time|date="Y/m",###}</span>
					</div>
					<div class="ri fl">
						<a href="{:url('Index/News/newsinfo',array('article_id'=>$news.article_id))}">{$news.title}</a>
						<p>{$news.explain}</p>
					</div>
				</div>
				{/volist}
	  			<div class="index_f_lg_x clearfix index_f_lg_xs">
	  				<div class="le fl">
	  					<p>24</p>
	  					<span>2018-03</span>
	  				</div>
	  				<div class="ri fl">
	  					<a href="show.html">2018年春节放假通知</a>
	  					<p>2018年2月11日（星期日）——2018年2月21日（星期三）放假休息，合计11天。正月初七（2月22日，星期四）恢复正常上班。</p>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
		
	  <div class="section">
	  	<div class="index_w">
	  		<div class="index_hz">
	  			<div class="index_o_o index_w_o">
		  			<p>业务咨询</p>
		  			<span>BUSINESS</span>
		  		</div>
<!--		  		<div class="index_w_s clearfix">-->
<!--		  			<p class="p1"></p>-->
<!--		  			<p class="p2"></p>-->
<!--		  			<p class="p3"></p>-->
<!--		  			<p class="p4"></p>-->
<!--		  			<p class="p5"></p>-->
<!--		  			<p class="p6"></p>-->
<!--		  			<p class="p7"></p>-->
<!--		  			<p class="p8"></p>-->
<!--		  			<p class="p9"></p>-->
<!--		  			<p class="p10"></p>-->
<!--		  			<p class="p11"></p>-->
<!--		  			<p class="p12"></p>-->
<!--		  		</div>-->
				<a href="{:url('Index/index/contantus')}/"><div class="project" style="width: 600px;height: 400px; margin-left: 16%;cursor: pointer">
					<div class="project__card">
						<a href="" class="project__image"><img src="/static/image/1.jpg" width=600 height=400 alt=""></a>
						<div class="project__detail">
							<h2 class="project__title"><a href="#">合作商通道</a></h2>
							<small class="project__category"><a href="#">电话:1888888888</a></small>
						</div>
					</div>
				</div></a>

				<div class="project" style="width: 600px;height: 400px;cursor: pointer">
					<div class="project__card">
						<a href="{:url('Index/index/contantus')}/" class="project__image"><img src="/static/image/2.jpg" width=600 height=400 alt=""></a>
						<div class="project__detail">
							<h2 class="project__title"><a href="#">物流商通道</a></h2>
							<small class="project__category"><a href="#">电话:19999999999</a></small>
						</div>
					</div>
	  		</div>

	  		<!--底部-->
			{include file="public/footer" /}
	  	</div>

	  </div>
	</div>
	<!-- js -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/static/js/style2.js"></script>
<!--	<script>window.jQuery || document.write('<script src="/static/js/jquery-2.1.1.min.js"><\/script>')</script>-->
	<script src="/static/js/jquery.hover3d.js" ></script>
<!--	<script type="text/javascript" src="/static/js/jquery.js"></script>-->
<!--	<script type="text/javascript" src="/static/js/jqueryLibrary.min.js"></script>-->
	<script type="text/javascript">
		$(document).ready(function(){
			$(".project").hover3d({
				selector: ".project__card",
				shine: true,
			});

			$(".movie").hover3d({
				selector: ".movie__card",
				shine: true,
				sensitivity: 20,
			});
		});
		// $(function(){
		//
		// });
		$(function(){
			// $(".e1").imgbox();
			// $(".e2").imgbox({
			// 	'speedIn'		: 0,
			// 	'speedOut'		: 0,
			// 	'alignment'		: 'center',
			// 	'overlayShow'	: true,
			// 	'allowMultiple'	: false
			// });
		    $('#dowebok').fullpage({
				'navigation': true,
		    });
		});

	</script>
</body>
</html>