<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>创通易购集团-人才招聘</title>
	<meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">
	<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]--> 
</head>
<body>
	<!--导航条-->
	{include file="public/header" /}
	<!--导航条-->
	<!--联系我们开始-->
    <div class="wrap">
    <div class="col_banner about_banner bgSize" style="background-image:url(/static/image/rczp_banenr.jpg);">
      <div class="inner_index w1200" style="padding-top: 198px;">
        <h4>人才招聘</h4>
        <p class="en">Join Us</p>
      </div>
    </div>
    <div class="rczp_n">
    	<div class="rczp_n_o">
    		<p>用人理念</p>
    		<span>
    			新一轮的科技革命和产业变革正在孕育兴起，竞争不断加剧。在这样的时代大背景下，“人才强国战略”的理念在企业发展中同样受用。优秀人才是企业可持续发展、不断创新的源动力，是战略性资源。<br>
创通易购集团自创立以来，不断深化“以人为本”，注重人才培养。现全力打造“创通商学院”等创新型项目，以企业高级优秀管理人员、国内外一流培训团队为主要师资力量，利用现代化科技手段，结合集团战略发展，不断推陈出新，输出人才资源，打造行业领军平台。
    		</span>
    	</div>
    </div>

    <div class="rczp_t w1200">
    	<div class="dakh lShadow">
    		<div class="dakh_s"><strong>大客户经理</strong></div>
    		<div class="dakh_x">
    			<p><span>人数：</span><span class="lefd">2人</span></p>
    			<p><span>工作地点：</span><span class="lef">深圳</span></p>
    			<p>
    				<span>工作职责：</span>
    				<span class="lef">
    					1、不看颜值和身材，但要有鲜明的个人特色，没错，我就是要捧红你！<br>
						2、喜欢旅游美食、会吃会玩，你就是旅游美食攻略小能手<br>
						3、有编导思维，脑洞要开，有一定研发节目的能力<br>
						4、盛世美颜加分！加分！<br>
						5、对旅行有足够的热忱，好奇心强，有强烈意愿丰富自己对于旅行相关领域的知识储备；<br>
						6、对旅行设计的细节操作有系统的了解和学习意愿，细致、耐心，有同理心；<br>
						7、有一定旅游行业工作经验，或有旅行相关领域工作经验者优先；<br>
						8、涉猎与追求精致的生活方式: 美食、美酒、fashion、音乐、电影、体育、博物馆、大自然、建筑、艺术等；
    				</span>
    			</p>
    			<div style="clear: both;"></div>
    		</div>
    	</div>
    	<div class="dakh lShadow">
    		<div class="dakh_s"><strong>大客户经理</strong></div>
    		<div class="dakh_x">
    			<p><span>人数：</span><span class="lefd">2人</span></p>
    			<p><span>工作地点：</span><span class="lef">深圳</span></p>
    			<p>
    				<span>工作职责：</span>
    				<span class="lef">
    					1、不看颜值和身材，但要有鲜明的个人特色，没错，我就是要捧红你！<br>
						2、喜欢旅游美食、会吃会玩，你就是旅游美食攻略小能手<br>
						3、有编导思维，脑洞要开，有一定研发节目的能力<br>
						4、盛世美颜加分！加分！<br>
						5、对旅行有足够的热忱，好奇心强，有强烈意愿丰富自己对于旅行相关领域的知识储备；<br>
						6、对旅行设计的细节操作有系统的了解和学习意愿，细致、耐心，有同理心；<br>
						7、有一定旅游行业工作经验，或有旅行相关领域工作经验者优先；<br>
						8、涉猎与追求精致的生活方式: 美食、美酒、fashion、音乐、电影、体育、博物馆、大自然、建筑、艺术等；
    				</span>
    			</p>
    			<div style="clear: both;"></div>
    		</div>
    	</div>
    	<div class="dakh lShadow di">

			<div class="jionb">
				<div class="title">
					<img src="/public/index/static/images/jion-ti1.jpg" alt="">
				</div>
				<div class="jtcon">
					<table>
						<tr>
							<th>职位名称</th>
							<th>职位类别</th>
							<th>招聘人数</th>
							<th>工作地点</th>
							<th>发布时间</th>
							<th>查看详情</th>
						</tr>
						<tbody id="itemContainer">
						{foreach name='job' item='v' key='k'}
						<tr >
							<td>{$v.job_name}</td>
							<td>{$v.job_cat}</td>
							<td>{$v.job_num}</td>
							<td>{$v.job_city}</td>
							<td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
							<td class="select_info" ><a href="javascript:void(0);" Info="{$v.job_info}" Req="{$v.job_req}" onclick="opens(this)">查看</a></td>
						</tr>
						{/foreach}
						</tbody>
					</table>

					<div class="holder" style="text-align: center;"></div>
					<p class="rutns" style="display: none;">
						<span>当前页面：1/1 共0条记录</span>
						<a href="#" class="on">首页</a>
						<a href="#">上一页</a>
						<a href="#">下一页</a>
						<a href="#">尾页</a>
					</p>
				</div>
			</div>
    		<div style="text-align: center" class="dakh_s"><strong>优秀人才自荐通道</strong></div>
    		<div class="tongdao">
    			<p>
    				直线电话：***-******<br>
					联系邮箱：hr@bj.sunaomei.com<br>
					简历投递格式请以“应聘职位+姓名”作为邮件标题。
    			</p>
    		</div>
    	</div>
    </div>

    </div>  
   <!--联系我们结束-->
	<!--底部-->
  		<div class="footer nopre">
  			<div class="footer_o clearfix">
  				<div class="footer_o_o fl">
  					<img src="/static/picture/logo_ft.png" alt="logo" width="200" height="57">
  				</div>
  				<div class="footer_o_t fl">
  					<p>全国热线</p>
  					<span>XXX</span>
  				</div>
  				<div class="footer_o_t footer_o_s fl">
  					<p>市场合作</p>
  					<span>XXX</span>
  				</div>
  				<div class="footer_o_f fr">
  					<img src="/static/picture/index_ewm.png" alt="ewm">
  				</div>
  			</div>
  			<div class="footer_t">
				网站备案：粤ICP备2020112267号 Copyright © 2012-2019 创通易购版权所有 Powered by CTYG     All rights reserved 
  			</div>
  		</div>
	<!--底部--> 		
	<!-- js -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/static/js/fullpagecode.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/static/js/style2.js"></script>
	<link rel="stylesheet" href="/public/index/css/animate.css">
	<link rel="stylesheet" href="/public/index/css/jPages.css">
	<script type="text/javascript" src="/public/index/js/jPages.js"></script>
	<script type="text/javascript" charset="utf-8" src="/public/layer/layer.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/index/style/join.css">
<!--	<link rel="stylesheet" href="/public/index/bootstarp/css/bootstrap.min.css">-->

<!--	<link rel="stylesheet" href="/public/index/static/css/selectordie.css">-->

<!--	<link rel="stylesheet" href="/public/index/style/base.css">-->
<!---->
<!--	<link rel="stylesheet" href="/public/index/style/common.css">-->

	<script>
		//页面单独使用的js

		$(function() {

			$("div.holder").jPages({
				containerID : "itemContainer",
				first       : "首页",
				previous    : "上一页",
				next        : "下一页",
				last        : "尾页",
				perPage     : 6
			});

		});

		function opens(obj){
			var info=$(obj).attr('Info');
			var req=$(obj).attr('Req');

			html = '<div>' +
					'<div style="font-size: 16px;padding:10px;line-height: 26px;">' +
					'<p style="color:#000;">岗位职责：</p>' +info+
					'</div>' +
					'<div style="font-size: 16px;padding:10px;line-height: 26px;">' +
					'<p style="color:#000;">任职要求：</p>' +req+
					'</div>' +
					'</div>';

			layer.open({
				type: 1,
				title: '招聘信息',
				skin: 'layui-layer-rim', //加上边框
				area: ['520px', '520px'], //宽高
				content: html
			});
		}
	</script>
	<style>
		.layui-layer-title{
			background: #13c5a2;
			color:#fff;
			border-radius: 1px;
		}
	</style>
</body>
</html>