{include file="public/header" /}



<link rel="stylesheet" href="/public/index/static/css/swiper-4.1.6.min.css">

<link rel="stylesheet" type="text/css" href="/public/index/style/zpzx.css">


    <!-- 中间大图 -->

    <div class="b_banner">

        <img src="/public/index/static/images/b_banner.jpg" width="100%" height="650px" alt="">

    </div>

    <!-- 臻品之选 -->

    <div class="b_nav box">

        <div>

            <span>臻品之选</span>

            <ul style="float: right;">

                <li data-tab="b_hsj" class="on">好设计</li>

                <li data-tab="b_wdkj">五大空间</li>

                <li data-tab="b_yxpp">一线品牌</li>

                <li data-tab="b_qwhb">全屋环保</li>

                <li data-tab="b_qwdz">人性化</li>

                <li data-tab="b_kjsh">科技生活</li>

                <li data-tab="b_jdgy">尖端工艺</li>

                <li data-tab="b_shfw">售后服务</li>

            </ul>

        </div>

    </div>

<style>

    .xinfo{

        line-height: 32px;

    }
    .desc{line-height: 26px;margin-top: 55px!important;}

</style>

    <!-- 好设计 -->

    <div class="b_hsj" style="position: relative;">
        <div class="tit">
            <img src="/public/index/static/images/b_hsj.png" alt="">
        </div>
        <div style="position: absolute;z-index: 0;height:490px;background: #eee;top:161px;width:100%;"></div>
            <div id="lunbo">
            </div>
    </div>

    <!-- 五大空间 -->

    <div class="b_wdkj" style="margin-top: 130px;">

        <div class="tit">

            <img src="/public/index/static/images/b_wdkj.png" alt="">

        </div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 10px;">百变风格&nbsp;&nbsp;给你不一样的家</p>

        <div class="b_wdkj_d">

            <div style="margin-left: 108px;" class="on tab-item">客餐厅</div>

            <div class="tab-item">卧室</div>

            <div class="tab-item">厨房</div>

            <div class="tab-item">卫生间</div>

            <div class="tab-item">阳台</div>

        </div>



        <div class="b_wdkj_all">

            <div class="b_wdkj_con selected">

                <img src="/public/index/static/images/b_wdkj_con1.jpg" width="100%" height="670px" alt="">

            </div>

            <div class="b_wdkj_con">

                <img src="/public/index/static/images/b_wdkj_con2.jpg" width="100%" height="670px" alt="">

            </div>

            <div class="b_wdkj_con">

                <img src="/public/index/static/images/b_wdkj_con3.jpg" width="100%" height="670px" alt="">

            </div>

            <div class="b_wdkj_con">

                <img src="/public/index/static/images/b_wdkj_con4.jpg" width="100%" height="670px" alt="">

            </div>

            <div class="b_wdkj_con">

                <img src="/public/index/static/images/b_wdkj_con5.jpg" width="100%" height="670px" alt="">

            </div>

        </div>

    </div>

    <!-- 一线品牌 -->

    <div class="b_yxpp" style="margin-top: 84px;">

        <div class="tit">

            <img src="/public/index/static/images/b_yxpp.png" alt="">

        </div>

        <div class="cat1">

            <div class="on" id="zhu">主材品牌</div>

            <div id="fu">辅材品牌</div>

        </div>





        <div class="rcat1">

            <div class="con" id="con1">

                <div class="cat2">

                    <div class="on teb" style="padding-left:16px;padding-right:16px;">欧派</div>

                    <div class="teb">华鹏陶瓷</div>

                    <div class="teb">大自然地板</div>

                    <div class="teb">德国.贝朗卫浴</div>

                    <div class="teb">西飞集成吊顶</div>

                    <div class="teb">my-floor</div>

                    <div class="teb">老板电器</div>

                    <div class="teb">德冠浴柜</div>

                </div>



                <div class="rcat2">

                    <div class="main nav">

                        <img src="/public/index/static/images/b_rcat1.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat2.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat3.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat4.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat5.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat6.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat7.jpg" alt="">

                    </div>

                    <div class="main">

                        <img src="/public/index/static/images/b_rcat8.jpg" alt="">

                    </div>

                </div>

            </div>



            <div class="con" style="display: none;" id="con2">

                <div class="fcat2">

                    <div class="on teb" style="padding-left:20px;padding-right:20px;">芬琳漆</div>

                    <div class="teb" style="padding-left:20px;padding-right:20px;">西门子</div>

                    <div class="teb" style="padding-left:20px;padding-right:20px;">东方雨虹</div>

                    <div class="teb" style="padding-left:20px;padding-right:20px;">伟星水管</div>

                    <div class="teb" style="padding-left:20px;padding-right:20px;">联塑管道</div>

                    <div class="teb" style="padding-left:16px;padding-right:16px;">金龙羽电线</div>

                    <div class="teb" style="padding-left:20px;padding-right:20px;">卓邦腻子</div>

                    <div class="teb" style="padding-left:16px;padding-right:16px;">泰山石膏板</div>

                </div>



                <div class="frcat2">

                    <div class="main nav">

                        <img src="/public/index/static/images/b_rcatf1.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf2.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf3.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf4.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf5.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf6.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf7.jpg" alt="">

                    </div>

                    <div class="main" style="display: none;">

                        <img src="/public/index/static/images/b_rcatf8.jpg" alt="">

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- 全屋环保 -->

    <div class="b_qwhb" style="margin-top: 84px;">

        <div class="tit">

            <img src="/public/index/static/images/b_qwhb.png" alt="">

        </div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 20px;">给孩子一个自由呼吸的家</p>

        <div class="b_banner1 slick-initialized slick-slider" style="width: 100%;height:481px;margin-top: 40px;">

            <!-- <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button> -->

            <div class="swiper-container" style="height: 100%;">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">

                        <img src="/public/index/static/images/b_banner1.jpg" width="100%" height="100%" alt="">

                    </div>

                    <div class="swiper-slide">

                        <img src="/public/index/static/images/b_banner2.jpg" width="100%" height="100%" alt="">

                    </div>

                    <!--<div class="swiper-slide">-->

                        <!--<img src="/public/index/static/images/banner1.jpg" width="100%" height="100%" alt="">-->

                    <!--</div>-->



                </div>

                <!-- 如果需要分页器 -->

                <!-- <div class="swiper-pagination"></div> -->



                <!-- 如果需要导航按钮 -->

                <button type="button" data-role="none" class="swiper-button-prev" style="display: block;"></button>

                <button type="button" data-role="none" class="swiper-button-next" style="display: block;"></button>

                <!-- <div class="swiper-button-prev"></div>

                <div class="swiper-button-next"></div> -->



                <!-- 如果需要滚动条 -->

                <!-- <div class="swiper-scrollbar"></div> -->

            </div>

            <!-- <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button> -->

        </div>

    </div>

    <!-- 全屋人性化 -->

    <div class="b_qwdz" style="margin-top: 84px;">

        <div class="tit">

            <img src="/public/index/static/images/b_qwdz.png" alt="">

        </div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 20px;">实现您对家的所有幻想</p>



        <div class="con">

            <div style="width:1260px;margin: 0 auto;overflow: hidden;">

                <div class="cat3">

                    <div class="tab-item on" data-index="1">人体工程学设计</div>

                    <div class="tab-item" data-index="2">家居收纳设计</div>

                    <div class="tab-item" data-index="3">家居动线设计</div>

                    <div class="tab-item" data-index="4">软装搭配设计</div>

                    <div class="tab-item" data-index="5">风水学设计</div>

                    <div class="tab-item" data-index="6">人性化工程服务</div>

                </div>



                <div class="rcat3">

                    <div class="b_rxh_con selected">

                        <img src="/public/index/static/images/b_qwdz1.jpg" alt="">

                    </div>

                    <div class="b_rxh_con">

                        <img src="/public/index/static/images/b_qwdz2.jpg" alt="">

                    </div>

                    <div class="b_rxh_con">

                        <img src="/public/index/static/images/b_qwdz3.jpg" alt="">

                    </div>

                    <div class="b_rxh_con">

                        <img src="/public/index/static/images/b_qwdz4.jpg" alt="">

                    </div>

                    <div class="b_rxh_con">

                        <img src="/public/index/static/images/b_qwdz5.jpg" alt="">

                    </div>

                    <div class="b_rxh_con">

                        <img src="/public/index/static/images/b_qwdz6.jpg" alt="">

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- 科技新生活 -->

    <div class="b_kjsh" style="margin-top: 84px;">

        <div class="tit">

            <img src="/public/index/static/images/b_kjsh.png" alt="">

        </div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 20px;">将传统家居产品迭代升级为跨界科技艺术品</p>



        <div style="width: 1210px;height: 400px;margin:0 auto;margin-top: 38px;">

            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/b_kjsh1.jpg" alt="">

                    <div class="xinfo">多重场景 一键搞定</div>

                </div>

                <div class="info">智能灯光</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/b_kjsh2.jpg" alt="">

                    <div class="xinfo">360°安全防护</div>

                </div>

                <div class="info">安防报警</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/b_kjsh3.jpg" alt="">

                    <div class="xinfo">还你舒适好睡眠</div>

                </div>

                <div class="info">智能窗帘</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/b_kjsh4.jpg" alt="">

                    <div class="xinfo">家庭影院秒变KTV</div>

                </div>

                <div class="info">智能影音</div>

            </div>

        </div>

    </div>

    <!-- 尖端工艺 -->

    <div class="b_jdgy" style="margin-top: 84px;">

        <div class="tit"><img src="/public/index/static/images/b_jdgy.png" alt=""></div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 20px;">268项品质管控&nbsp;&nbsp;7大节点验收</p>



        <div class="b_banner2">

            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys1.png" alt="">

                    <div class="xinfo">

                        <p>防潮基座、门头过梁和砂砖斜砌 等, </p>

                        <p>能很好的起到防潮加固作用。</p>

                    </div>

                </div>

                <div class="info">砌墙工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys2.png" alt="">

                    <div class="xinfo">

                        <p>新旧墙交界处植入10mm螺纹  </p>

                        <p>钢筋加固、并挂钢网，防开裂。</p>

                    </div>

                </div>

                <div class="info">砌墙加固、防裂工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys3.png" alt="">

                    <div class="xinfo">

                        <p>排污管包保温消音棉，起到 </p>

                        <p>降噪、防止冷凝水效果。</p>

                    </div>

                </div>

                <div class="info">包排污管工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys4.png" alt="">

                    <div class="xinfo">

                        <p>强弱线管用红蓝区分，</p>

                        <p>以便 于检修和施工。</p>

                    </div>

                </div>

                <div class="info">电线管铺设工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys5.png" alt="">

                    <div class="xinfo">

                        <p>冷热水管统一采用热水管铺 </p>

                        <p>设，起到抗压和防漏作用。</p>

                    </div>

                </div>

                <div class="info">冷热水管铺设工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys6.png" alt="">

                    <div class="xinfo">

                        <p>排污管转角双45°弯，排污更 </p>

                        <p>通畅，存水弯，除菌防异味。</p>

                    </div>

                </div>

                <div class="info">排污管铺设工艺</div>

            </div>

            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys7.png" alt="">

                    <div class="xinfo">

                        <p>沉降池填陶粒、布钢丝网，起 </p>

                        <p>到减重、抗压、防下沉作用。</p>

                    </div>

                </div>

                <div class="info">沉降池回填工艺</div>

            </div>

            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys8.png" alt="">

                    <div class="xinfo">

                        <p>地漏口做回形斜坡，下水更 </p>

                        <p>畅快，更牢固</p>

                    </div>

                </div>

                <div class="info">斜坡工艺</div>

            </div>

            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys9.png" alt="">

                    <div class="xinfo">

                        <p>节省空间，墙砖粘贴性强， 零空鼓。</p>

                    </div>

                </div>

                <div class="info">瓷砖胶薄贴工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys10.png" alt="">

                    <div class="xinfo">

                        <p>轻钢龙骨12mm防潮石膏板，</p>

                        <p> 防潮抗裂更牢固</p>

                    </div>

                </div>

                <div class="info">吊顶工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys11.png" alt="">

                    <div class="xinfo">

                        <p>伸缩缝做V缝和L形整版，</p>

                        <p>能有效防止接缝和转角处开裂。</p>

                    </div>

                </div>

                <div class="info">吊顶防裂工艺</div>

            </div>



            <div class="con">

                <div class="image">

                    <img src="/public/index/static/images/ys12.png" alt="">

                    <div class="xinfo">

                        <p>界面剂、腻子、油漆分色，</p>

                        <p> 防止少刷、漏刷、不平整。</p>

                    </div>

                </div>

                <div class="info">墙漆分色工艺</div>

            </div>

        </div>

    </div>

    <!-- 贴心的售后服务 -->

    <div class="b_shfw">

        <div class="tit">

            <img style="margin-top: 56px;" src="/public/index/static/images/b_shfw.png" alt="">

        </div>

        <p style="font-size: 24px;color: #333333;text-align: center;margin-top: 76px;">责任一包到底</p>



        <div style="width: 1112px;height: 217px;margin: 0 auto;margin-top: 54px;">

            <img src="/public/index/static/images/b_shfw1.png" style="margin-right: 53px;" alt="">

            <img src="/public/index/static/images/b_shfw2.png" style="margin-right: 53px;" alt="">

            <img src="/public/index/static/images/b_shfw3.png" style="margin-right: 53px;" alt="">

            <img src="/public/index/static/images/b_shfw4.png" alt="">

        </div>

        <p style="font-size: 20px;width: 100%;text-align: center;margin-top: 42px;">24小时出解决方案，让你体验6s家居服务</p>

    </div>

    <!-- 底部 -->

<script src="/public/index/static/js/jquery.js"></script>

<!--<script src="http://2.swiper.com.cn/dist/js/idangerous.swiper.min.js"></script> -->
<script src="/public/index/static/js/swiper-4.1.6.min.js"></script>

<script src="/public/index/static/js/slick.js"></script>

<script src="/public/index/style/zpzx.js"></script>

<script>

    $(document).ready(function(){

        var box = $(".box");

        var boxTop = box.offset().top;    //元素到页面顶部的距离

        $(document).scroll(function(){

            var winScrollTop = $(window).scrollTop();    //获取窗口滚动的距离

            if(winScrollTop > boxTop){

                box.addClass("fixed");

            }else{

                box.removeClass("fixed");

            }

            if($(".b_hsj").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_wdkj").offset().top*1-80 ){

                $("li[data-tab='b_hsj']").addClass('on').siblings().removeClass("on");

            }else if($(".b_wdkj").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_yxpp").offset().top*1-80){

                $("li[data-tab='b_wdkj']").addClass('on').siblings().removeClass("on");

            }else if($(".b_yxpp").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_qwhb").offset().top*1-80){

                $("li[data-tab='b_yxpp']").addClass('on').siblings().removeClass("on");

            }else if($(".b_qwhb").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_qwdz").offset().top*1-80){

                $("li[data-tab='b_qwhb']").addClass('on').siblings().removeClass("on");

            }else if($(".b_qwdz").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_kjsh").offset().top*1-80){

                $("li[data-tab='b_qwdz']").addClass('on').siblings().removeClass("on");

            }else if($(".b_kjsh").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_jdgy").offset().top*1-80){

                $("li[data-tab='b_kjsh']").addClass('on').siblings().removeClass("on");

            }else if($(".b_jdgy").offset().top*1-80 <= winScrollTop*1 && winScrollTop*1 < $(".b_shfw").offset().top*1-80){

                $("li[data-tab='b_jdgy']").addClass('on').siblings().removeClass("on");

            }else if($(".b_shfw").offset().top*1-80 <= winScrollTop*1 ){

                $("li[data-tab='b_shfw']").addClass('on').siblings().removeClass("on");

            }

        });

    });

    $('.b_nav').on('click', 'li', function (e) {

        var target = e.target;

        var id = $(target).data("tab");

        $('html,body').animate({

            scrollTop: $('.' + id).offset().top * 1 - 80

        }, 800);

    });

    $('.b_banner2').not('.slick-initialized').slick({

        slidesToShow: 3,

        pauseOnHover: false,

        infinite: true,

        arrows: true,

        draggable: false,

        dots: false,

    });

</script>

{include file="public/footer" /}

<style>

    .slick-arrow{

        border:0;

    }

</style>