{include file="common/header" /}
<div id="wrapper">
    {include file="common/nav" /}
    <!-- 内容页面 -->
    <div class="left-aside" >
        {include file="common/leftnav" /}
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="page-aside">

                    <div class="right-aside casket">
                        <div class="row bg-title">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h4 class="page-title">权限控制 <i class="fa fa-angle-double-right"></i> 权限管理
                                    <a href="Javascript:;" class="tooltip-success" data-toggle="tooltip" data-placement="right" title="" data-original-title="添加到快捷菜单"
                                       onclick="addmenu('{$navurls}','权限管理')"
                                    ><i class="fa fa-tag"></i></a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="Javascript:;">
                                        <span class="visible-xs">权限列表</span>
                                        <span class="hidden-xs"> 权限列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Javascript:;" alt="default" data-toggle="modal" data-target="#modal1">
                                        <span class="visible-xs">添加权限</span>
                                        <span class="hidden-xs">添加权限</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="cus-row">
                                <div class="table-responsive">
                                    <table class="table table-hover manage-u-table cus-tab">
                                        <thead>
                                        <tr>
                                            <th>权限名</th>
                                            <th>路 径</th>
                                            <th style="width:250px;">操 作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="auth" id="v"}
                                        <tr>
                                            <td>{$v._name}</td>
                                            <td>{$v.name}</td>
                                            <td>
                                                {if condition="$v._level neq 3"}
                                                    <a class="btn btn-outline btn-xs cus-btn" onclick="openmodal('{$v.id}')">
                                                        <i class="fa fa-plus"></i> 添加子权限
                                                    </a>
                                                {/if}
                                                <a class="btn btn-outline btn-xs cus-btn" authId="{$v['id']}" authName="{$v['name']}" authTitle="{$v['title']}" onclick="modifydata(this)">
                                                    <i class="fa fa-pencil-square-o"></i> 修改
                                                </a>
                                                <a class="btn btn-outline btn-xs cus-btn" onclick="del('{$v.id}')">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}

                                        </tbody>
                                    </table>

                                </div>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group{
        margin-bottom:10px;
    }
</style>
<div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加权限</h4> </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="auth_title" class="col-sm-3 control-label">权限名称:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="auth_title" placeholder="请输入权限名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="auth_name" class="col-sm-3 control-label">权限路径:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="auth_name" placeholder="请输入权限路径">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline cus-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-info waves-effect cus-btn" onclick="add()">添 加</button>
            </div>
        </div>
    </div>
</div>
<div id="modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加子权限</h4> </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="rule_title" class="col-sm-3 control-label">权限名称:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rule_title" placeholder="请输入权限名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rule_name" class="col-sm-3 control-label">菜单路径:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rule_name" placeholder="请输入权限路径">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline cus-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-info waves-effect cus-btn"  id="add_level">添 加</button>
            </div>
        </div>
    </div>
</div>
<div id="modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改权限</h4> </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ruletitle" class="col-sm-3 control-label">权限名称:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ruletitle" placeholder="请输入菜单名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rulename" class="col-sm-3 control-label">权限路径:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rulename" placeholder="请输入菜单路径">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline cus-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-info waves-effect cus-btn"  id="modifyauth">修 改</button>
            </div>
        </div>
    </div>
</div>
{include file="common/footer" /}
<script>
    function add(){
        title = $("#auth_title").val();
        name = $("#auth_name").val();
        $.ajax({
            url: "{:url('Setup/authadd')}",
            data: {title:title,name:name},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){

                    layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000);
                }else{

                    layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
//                    layer.close(index);
                }
            }
        });
    }

    function add_level(id){
        title = $("#rule_title").val();
        name = $("#rule_name").val();
        $.ajax({
            url: "{:url('Setup/authadd_level')}",
            data: {pid:id,title:title,name:name},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){
                    layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000);
                }else{

                    layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
//                    layer.close(index);
                }
            }
        });
    }

    function openmodal(id){
        $("#add_level").attr("onclick","add_level("+id+")");
        $("#modal2").modal('show');
    }

    function modifydata(obj){
        var authId=$(obj).attr('authId');
        var authName=$(obj).attr('authName');
        var authTitle=$(obj).attr('authTitle');
        $("#ruletitle").val(authTitle);
        $("#rulename").val(authName);
        $("#modifyauth").attr("onclick","modify("+authId+")");
        $("#modal3").modal('show');
    }

    function modify(id){
        title = $("#ruletitle").val();
        name = $("#rulename").val();
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.ajax({
            url: "{:url('Setup/authmodify')}",
            data: {id:id,title:title,name:name},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){
                    $("#modal3").modal('hide');
                    layer.close(index);
                    layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000);
                }else{
                    layer.close(index);
                    layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
//                    layer.close(index);
                }
            }
        });
    }

    function del(id){
        layer.msg('確定刪除?', {
            icon: 3,
            time: 0 //不自动关闭
            ,shade: 0.2
            ,btn: ['確定', '取消']
            ,yes: function(index){
                var index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: "{:url('Setup/authdel')}",
                    data: {id:id},
                    type: 'POST',
                    dataType: "json",
                    cache: false,
                    success: function(data,state){
                        if(state == 'success' && data.code == '0'){
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                            setTimeout(function () {
                                window.location.reload()
                            }, 1000);
                        }else{
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
                        }
                    }
                });
            }
        });
    }
</script>