{include file="public/header" /}
<script src="/public/index/static/js/mui.picker.min.js"></script>
<link href="/public/index/static/css/mui.picker.min.css" rel="stylesheet"/>
	<div class="shaixuan">
		<div>风格</div>
		<div>户型</div>
		<div>面积</div>
	</div>
	
	<div class='xuanx cat1' style="display: none;">
		<a href="javascript:;" ><div cat="0" {if condition="$style_id==0"}class="on"{/if}>不限</div></a>
		{foreach name="cat1" item='cv1' key='ck1'}
		<a href="javascript:void(0);"><div cat="{$cv1['cat_id']}" {if condition="$cv1['cat_id']==$style_id"}class="on"{/if} >{$cv1['cat_name']}</div></a>
		{/foreach}
	</div>


	<div class='xuanx cat2' style="display: none;">
		<a href="javascript:;" ><div cat="0" {if condition="$apart_id==0"}class="on"{/if}>不限</div></a>
		{foreach name="cat2" item='cv2' key='ck2'}
		<a href="javascript:void(0);"><div cat="{$cv2['cat_id']}" {if condition="$cv2['cat_id']==$apart_id"}class="on"{/if}>{$cv2['cat_name']}</div></a>
		{/foreach}
	</div>

	<div class='xuanx cat3' style="display: none;">
		<a href="javascript:;" ><div cat="0" {if condition="$measure_id==0"}class="on"{/if}>不限</div></a>
		{foreach name="cat3" item='cv3' key='ck3'}
		<a href="javascript:void(0);"><div cat="{$cv3['cat_id']}" {if condition="$cv3['cat_id']==$measure_id"}class="on"{/if}>{$cv3['cat_name']}</div></a>
		{/foreach}
	</div>
	
	
	<div class='di_zp left' style="margin-top: 0rem;" >
		<div class='jage'></div>
		<div class='al clearfix'>
			{foreach name='list' item='lv' key='lk'}
			<div class='xal clearborder'>
				<a href="{:url('Mobile/goods/goodsinfo',array('goods_id'=>$lv.case_id)),'.html'}"><div class='img'><img src="{$lv.img}" style="width: 7.04rem;height:4.92rem"  alt=""></div></a>
				<a href="{:url('Mobile/goods/goodsinfo',array('goods_id'=>$lv.case_id)),'.html'}">
					<div class='gdinfo'>
						<div class='gdinfo1'>{$lv['goods_name']}</div>
						<div class='gdinfo2'></div>
						<div class='gdinfo3'>{$lv['style']}  |  {$lv['apart']}  |  {$lv['measure']}</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
	</div>

	<div class="mobpage">
		{if condition="$p == 1"}
		<a href="{:url('Mobile/goods/index',array('style_id'=>$style_id,'apart_id'=>$apart_id,'measure_id'=>$measure_id,'p'=>1))}"><div class="upp">上一页</div></a>
		{else}
		<a href="{:url('Mobile/goods/index',array('style_id'=>$style_id,'apart_id'=>$apart_id,'measure_id'=>$measure_id,'p'=>$p*1-1))}"><div class="upp">上一页</div></a>
		{/if}
		<div class="chosep" data-options='{$page}' onclick="chose_page()">{$p} / {$count}</div>
		{if condition="$p == $count"}
		<a href="{:url('Mobile/goods/index',array('style_id'=>$style_id,'apart_id'=>$apart_id,'measure_id'=>$measure_id,'p'=>$p))}"><div class="downp">下一页</div></a>
		{else}
		<a href="{:url('Mobile/goods/index',array('style_id'=>$style_id,'apart_id'=>$apart_id,'measure_id'=>$measure_id,'p'=>$p*1+1))}"><div class="downp">下一页</div></a>
		{/if}
	</div>
<script>
    $('.shaixuan>div').click(function(){
        if($(this).hasClass('on')){
            $(this).removeClass('on');
            $(this).parent().parent().find('.xuanx').hide();
		}else{
            var i = $(this).index();
            $(this).addClass('on').siblings().removeClass('on');
            $(this).parent().parent().find('.xuanx').hide();
            $(this).parent().parent().find('.xuanx').eq(i).fadeIn();
		}

    });

    $(".cat1 a").click(function(){
        $(this).children().addClass('on').parent().siblings().children().removeClass('on');
        chose_cat();
    })

    $(".cat2 a").click(function(){
        $(this).children().addClass('on').parent().siblings().children().removeClass('on');
        chose_cat();
    })

    $(".cat3 a").click(function(){
        $(this).children().addClass('on').parent().siblings().children().removeClass('on');
        chose_cat();
    })

    function chose_cat(){
        style_id = $(".cat1").find(".on").attr("cat");
        apart_id = $(".cat2").find(".on").attr("cat");
        measure_id = $(".cat3").find(".on").attr("cat");

        var p = arguments[0] ? arguments[0] : 1;

        url = "{:url("Mobile/goods/index",array('style_id'=>styleid,'apart_id'=>apartid,'measure_id'=>measureid,'p'=>pid))}";
        url = url.replace('styleid',style_id);
        url = url.replace('apartid',apart_id);
        url = url.replace('measureid',measure_id);
        url = url.replace('pid',p);

        location.href = url;

    }

    function chose_page(){
        var picker = new mui.PopPicker();
        var optionsJson = $(".chosep").attr('data-options');
        var options = JSON.parse(optionsJson);
        picker.setData(options);
        picker.show(function(SelectedItem) {
            url = "{:url('Mobile/goods/index',array('style_id'=>$style_id,'apart_id'=>$apart_id,'measure_id'=>$measure_id,'p'=>pid))}";
            url = url.replace('pid',SelectedItem[0].value);
            location.href = url;
        })
    }
</script>
{include file="public/footer" /}
