<div class="footer">
    <div class="footer_o clearfix">
        <div class="footer_o_o fl">
            <img src="/static/picture/logo_ft.png" alt="logo" width="200" height="57">
        </div>
        <div class="footer_o_t fl">
            <p>全国热线</p>
            <span>XXX</span>
        </div>
        <div class="footer_o_t footer_o_s fl">
            <p>市场合作</p>
            <span>XXX</span>
        </div>
        <div class="footer_o_f fr">
            <img src="/static/picture/index_ewm.png" alt="ewm">
        </div>
    </div>
    <div class="footer_t">
        网站备案：粤ICP备2020112267号 Copyright © 2012-2019 创通易购版权所有 Powered by CTYG     All rights reserved 
    </div>
</div>