<div class="header">

    <div class="header_n clearfix">

        <div class="logo fl"><a href="{:url('Index/index/index')}"><img src="/static/picture/logo.png" alt="logo" width="200" height="57"></a></div>
        <ul class="fl clearfix">
            <li><a href="{:url('Index/index/index')}/" {if condition="$conact eq 'Index/index'"}class="activeo"{/if} >首 页</a></li>
            <li><a {if condition="$conact eq 'Index/about'"}class="activeo"{/if} href="{:url('Index/index/about')}/">关于我们 </a></li>
            <li><a {if condition="$conact eq 'Index/service'"}class="activeo"{/if} href="{:url('Index/index/service')}/">集团动态</a></li>
            <li><a {if condition="$controller eq 'News'"}class="activeo"{/if} href="{:url('Index/news/index')}/">新闻中心</a></li>
            <!--					<li><a href="{:url('Index/index/service')}/">旗下品牌</a></li>-->
            <li><a {if condition="$conact eq 'Index/recruitment'"}class="activeo"{/if} href="{:url('Index/index/recruitment')}/">人才招聘</a></li>
            <li><a {if condition="$conact eq 'Index/contantus'"}class="activeo"{/if} href="{:url('Index/index/contantus')}/">联系我们</a></li>
        </ul>
        <div class="tel fr">
            <!--					<img src="/static/picture/tel.png" alt="tel" width="33" height="33">-->
            <!--					XXX-->
        </div>
    </div>
    <span class="line"></span>
</div>