<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/public/index/static/images/favicon.ico" media="screen"/>
    <title>久居后台管理</title>
    <!-- Bootstrap Core CSS -->
    <link href="__ROOT__/public/cms/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 菜单 CSS -->
    <link href="__ROOT__/public/cms/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">

    <!-- from CSS -->
    <link href="__ROOT__/public/cms/plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
    <link href="__ROOT__/public/cms/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="__ROOT__/public/cms/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="__ROOT__/public/cms/plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <!-- 动画 CSS -->
    <link href="__ROOT__/public/cms/css/animate.css" rel="stylesheet">
    <!-- 自定义 CSS -->
    <link href="__ROOT__/public/cms/css/style.css" rel="stylesheet">
    <link href="__ROOT__/public/cms/css/admin.css" rel="stylesheet">
    <!-- 颜色 CSS -->
    <link href="__ROOT__/public/cms/css/colors/megna.css" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header">
<!-- 预载 -->
<!--<div class="preloader">-->
    <!--<svg class="circular" viewBox="25 25 50 50">-->
        <!--<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />-->
    <!--</svg>-->
<!--</div>-->