{include file="common/header" /}
<div id="wrapper">
    {include file="common/nav" /}
    <div class="left-aside">
        {include file="common/leftnav" /}
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="page-aside">

                    <div class="right-aside casket">
                        <div class="row bg-title">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h4 class="page-title">友情链接
                                    <a href="Javascript:;" class="tooltip-success" data-toggle="tooltip" data-placement="right" title="" data-original-title="添加到快捷菜单"
                                       onclick="addmenu('{$navurls}','友情链接')"
                                    ><i class="fa fa-tag"></i></a>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="scrollable">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="Javascript:;">
                                        <span class="visible-xs">友情链接列表</span>
                                        <span class="hidden-xs"> 友情链接列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;"  alt="default" data-toggle="modal" data-target="#modal1">
                                        <span class="visible-xs">添加友情链接</span>
                                        <span class="hidden-xs">添加友情链接</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="table-responsive">
                                <table class="table table-hover manage-u-table" >
                                    <thead>
                                    <tr>
                                        <th style="width:200px;"></th>
                                        <th style="width:50px;">排序</th>
                                        <th style="width:200px;">名称</th>
                                        <th style="width:300px;">链接</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if condition="$link eq ''"}
                                        <tr>
                                            <td colspan="5" class="center middle" style="color:#ccc;">查询无数据</td>
                                        </tr>
                                    {/if}
                                    <form action="{:url('Order/link')}" method="post">
                                    {volist name="link" id="v"}
                                    <tr>
                                        <td></td>
                                        <td class="middle">
                                            <input style="width:50px;" type="text" name="{$v.id}" value="{$v.sort}">
                                        </td>
                                        <td class="middle">
                                            {$v.name}
                                        </td>
                                        <td class="middle">
                                            <a href="{$v.url}" target="_blank">{$v.url}</a>
                                        </td>
                                        <td class="middle">
                                           <div>

                                               <a class="btn btn-outline btn-xs cus-btn" iId="{$v.id}" Name="{$v.name}" Sort="{$v.sort}" Url="{$v.url}" onclick="modifydata(this)">
                                                   <i class="fa fa-pencil-square-o"></i> 修改
                                               </a>
                                               <a class="btn btn-outline btn-xs cus-btn" onclick="dellink('{$v.id}')"><i class="fa fa-trash-o"></i> 删除</a>
                                           </div>
                                        </td>
                                    </tr>

                                    {/volist}
                                        <tr>
                                            <td></td>
                                            <td colspan="4" class="middle">
                                                <input class="btn btn-outline cus-btn" type="submit" value="排序">
                                            </td>
                                        </tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加友情链接</h4> </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">名称:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请输入分类名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sort" class="col-sm-3 control-label">排序:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="sort" placeholder="请输入排序">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">链接:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="url" placeholder="请输入链接">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline cus-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-info waves-effect cus-btn" onclick="add(0)">添 加</button>
            </div>
        </div>
    </div>
</div>

<div id="modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改友情链接</h4> </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="names" class="col-sm-3 control-label">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="names" placeholder="请输入分类名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sorts" class="col-sm-3 control-label">排序:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="sorts" placeholder="请输入排序">
                    </div>
                </div>
                <div class="form-group">
                    <label for="urls" class="col-sm-3 control-label">链接:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="urls" placeholder="请输入链接">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline cus-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-info waves-effect cus-btn" id="modify">修 改</button>
            </div>
        </div>
    </div>
</div>
{include file="common/footer" /}
<script>
    function add(parent_id){
        name = $("#name").val();
        sort = $("#sort").val();
        surls = $("#url").val();
        $.ajax({
            url: "{:url('Order/addlink')}",
            data: {name:name,url:surls,sort:sort},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){
                    layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000);
                }else{

                    layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
//                    layer.close(index);
                }
            }
        });
    }

    function modifydata(obj){
        var iId=$(obj).attr('iId');
        var Name=$(obj).attr('Name');
        var Sort=$(obj).attr('Sort');
        var Url=$(obj).attr('Url');
        $("#names").val(Name);
        $("#sorts").val(Sort);
        $("#urls").val(Url);
        $("#modify").attr("onclick","modify("+iId+")");
        $("#modal3").modal('show');
    }
    function modify(id){
        name = $("#names").val();
        sort = $("#sorts").val();
        surls = $("#urls").val();
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.ajax({
            url: "{:url('Order/modifylink')}",
            data: {id:id,name:name,url:surls,sort:sort},
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function(data,state){
                if(state == 'success' && data.code == '0'){
                    $("#modal3").modal('hide');
                    layer.close(index);
                    layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000);
                }else{
                    layer.close(index);
                    layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
//                    layer.close(index);
                }
            }
        });
    }
    function dellink(id){
        layer.msg('確定刪除?', {
            icon: 3,
            time: 0 //不自动关闭
            ,shade: 0.2
            ,btn: ['確定', '取消']
            ,yes: function(index){
                var index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: "{:url('Order/dellink')}",
                    data: {id:id},
                    type: 'POST',
                    dataType: "json",
                    cache: false,
                    success: function(data,state){
                        if(state == 'success' && data.code == '0'){
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:1,shade: 0.2});
                            setTimeout(function () {
                                window.location.reload()
                            }, 1000);
                        }else{
                            layer.close(index);
                            layer.msg(data.msg, {time: 2000, icon:2,shade: 0.2});
                        }
                    }
                });
            }
        });
    }
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
    });

</script>
